name: CI-CD Pipeline

on:
  push:
    branches: ["main"]

jobs:

  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init & Apply
        run: |
          terraform init
          terraform apply -auto-approve
        working-directory: terraform

  docker-ecr:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Docker Image
        run: |
          IMAGE_URI=$(aws ecr describe-repositories \
            --repository-names flask-app1 \
            --query "repositories[0].repositoryUri" \
            --output text)

          echo "IMAGE_URI: $IMAGE_URI"

          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

  deploy-ec2:
    needs: docker-ecr
    runs-on: ubuntu-latest
    steps:

      - name: Install SSH client
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy latest container to EC2
        env:
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          IMAGE_URI=$(aws ecr describe-repositories \
            --repository-names flask-app1 \
            --query "repositories[0].repositoryUri" \
            --output text)

          echo "Deploying $IMAGE_URI to EC2..."

          ssh -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST <<EOF

            echo "Logging in to ECR..."
            sudo docker login -u AWS -p $(aws ecr get-login-password --region us-east-2) $IMAGE_URI

            echo "Pulling latest image..."
            sudo docker pull $IMAGE_URI:latest

            echo "Stopping old container (if running)..."
            sudo docker stop app || true
            sudo docker rm app || true

            echo "Starting new container..."
            sudo docker run -d --name app -p 8080:8080 $IMAGE_URI:latest

            echo "Deployment completed!"
          EOF

